<mat-card>
  <mat-card-header>
    <mat-card-title>Cadastrar</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form" class="min-width">
      <div>
        <mat-form-field class="full-width">
          <input matInput placeholder="Nome" formControlName="name" #name required>
          <mat-hint align="end">{{name.value.length}}/100</mat-hint>

          <mat-error *ngIf="form.get('name')?.invalid">{{ getErrorMessage('name') }}</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Categoria</mat-label>
          <mat-select formControlName="category">
            <mat-option value="null"> </mat-option>
            <mat-option value="Front-end">Front-End</mat-option>
            <mat-option value="Back-end">Back-End</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('category')?.invalid && form.get('category')?.touched">Categoria é obrigatória</mat-error>
        </mat-form-field>

        <mat-toolbar>
          <div class="align-left">
            <span>Aulas</span>
          </div>
          <div class="align-right add-button"> Adicionar
            <button mat-icon-button (click)="addAula()" color="primary">
              <mat-icon aria-label="Adicionar uma nova aula">add</mat-icon>
            </button>
          </div>
        </mat-toolbar>

        <mat-error *ngIf="isFormArrayRequired()" class="align-left"> Adicione uma aula </mat-error>

        <table formArrayName="aulas"
        *ngFor="let a of getAulasFormArray();
        let i = index ">
          <tr [formGroupName]="i">
            <td style="width: 65%">
              <mat-form-field class="full-width">
                <mat-label> Título Aula</mat-label>
                <input matInput formControlName="name">
                <!-- <mat-error *ngIf="getAulasFormArray()[i].get('name')?.invalid && form.get('name')?.touched">Campo inválido</mat-error>
-->
              </mat-form-field>
            </td>
            <td style="width: 30%">
              <mat-form-field class="full-width">
                <mat-label> URL Aula</mat-label>
                <span matPrefix>http://youtube.be/</span>
                <input matInput formControlName="youtubeUrl">
               <!-- <mat-error *ngIf="getAulasFormArray()[i].get('youtubeUrl')?.invalid && form.get('youtubeUrl')?.touched">Campo inválido</mat-error>
-->
              </mat-form-field>
            </td>
            <td>
              <mat-icon aria-label="Remover aula" (click)="removeAula(i)"  color="warn">delete</mat-icon>
            </td>
          </tr>
        </table>

      </div>
    </form>
  </mat-card-content>
  <mat-card-actions align="start">
    <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
    <button mat-raised-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>
</mat-card>
